.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 300px;
}

input{
    width: 100%;
    height: 30px;
    color:white;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin: 0 auto;
    width:100%;
    text-align: left;
}

.inputRadio{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
